* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('../assets/wp2555888-space-background.png');
  background-position: center;
  background-attachment: fixed;
}  

h1 {
font-size: 75px;
color: rgb(68, 42, 172); 
background: linear-gradient(#92c8f4, #545dc2);
font-family: 'Orbitron', sans-serif;
font-weight: 800 ;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

button {
font-family: 'Orbitron', sans-serif;
display: flex;
font-size: 25px;
color: slategray;
}

.buttons {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}


h2 {
font-family: 'Orbitron', sans-serif;
display: flex;
font-size: 40px;
display: flex;
justify-content: center;
background: linear-gradient(#e66465, #ee4da8);
}

#score-display {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  font-size: 40px;
  justify-content: center;
  background: linear-gradient(#e66465, #ee4da8);
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 50px;
    background-image: url('../assets/TerrificLightheartedGermanspaniel-small.gif');
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: center;
  height: 400px;
  width: 1000px;
  background-attachment: fixed;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 10%;
  width: 10%;
  
}

.grid div.playerShip {
  background-image: url('../assets/ship_civ_yacht.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.invaderShip {
  background-image: url('../assets/ship_civ_yacht_zom.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.lazer {
  background-image: url('../assets/laser-beam-sprite-png-6.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.boomOne {
  background-image: url('../assets/explosion0.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.boomTwo {
  background-image: url('../assets/explosion1.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}